.navbar {
  background-color: rgba(6, 6, 6);
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  left: 0;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.badge {
  font-size: 12px;
  background: orange;
  color: white;
  padding: 0 5px;
  position: absolute;
  top: 10px;
  border-radius: 9px;
}
